*{
    box-sizing: border-box;
}

.body,main{
    height: 100%;
}
body{
    background-color: #58537C;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    text-align: center;
    padding: 3rem;
    background-color:#241A61;
    width: 70%;
}
.pantalla{
    height: 3rem;
    width: 100%;
    border: 0.2rem solid lightsteelblue;
    background-color: lightgrey;
}
.botones{
    background-color: steelblue;
}
.botones button{
    background-color: goldenrod;
    font-size: 24px;
    margin-top: 1rem;
    height: 2.3rem;
    width: 23%;
    color:white;
}